


body{
    background-color: #D9B97E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    /* color: #B4B4B4; */
}

div{
    width: 100%;

}
h1{
    color: #A64732;
    text-align: center;
    font-size: 48pt;
    font-weight: 800;
    margin: 0;
    font-family: 'Bowlby One SC', cursive;
}

#contactInfo{
    margin-top: 15px;
    color: #403A2F;
    text-align: center;
    font-size: 12pt;
}
.salmonHero{
    display: block;
    /* text-align: center; */
    /* width: 500px; */
    height: 120px;
    margin: 0 auto;
}

/* main {
    width: 960px;
} */

#familyAbout {
    width: 980px;
    margin: 0 auto;
    margin-top: 50px; 
    margin-bottom: 30px;
    display: block;
}

#family {
    width: calc(45%);
    display: inline-block;
    margin: auto;
    /* float: left; */
    margin-left: 30px;
    margin-bottom: 80px;
}

p {
    font-family: 'Noto Serif', serif;  
}

h3 {
    font-family: 'Noto Serif', serif;  
    font-size: larger;
    font-weight: bold;
}
#mainContent{
    color: #F2F2F2;
    width: calc(48%);
    display: inline-block;
    margin-left: 30px; 
    overflow: auto; 
    
}

li{
    color: #424242;
    font-size: 20px;
}

.travel{
    color: #424242;
    font-size: 20 px;
}        

/* #family{
    margin-top: 100px;
    height: 300px;
    margin-left: 50px;
    float: left;
}

#mainContent{
    width: 45%;
    margin: 30px;
    float: right;
} */

#addresses{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    width: 960px;
    margin: auto;
    clear: both;
    display: inline;
    background-color: #B97149;
}

#addressList{
    list-style-type: none;
    display: inline;
    margin: 30px;
    /* background-color: #B97149*/
} 

#addressList li {
    display: inline-block;
    margin: 30px;
    color: #403A2F;
    background-color: #B97149

}

#addressList li:first-child{
    font-size: 20pt;
    text-align: center;
}

.itemsWeShip{
    width: 960px;
    margin: auto;
    background-color: #B97149;
}

#storeItems{
    list-style-type: none;
    display: inline;
    margin: 30px;
}

#storeItems li{
    display: inline-block;
    margin: 30px;
    color: #403A2F;
}
#cutter{
    height: 200px;
    margin: 15px;    
}

#frosted{
    height: 200px;
    margin: 15px;
    /* float: right; */
}

#tshirt{
    width: 200px;
    margin: 30px;
    margin-left: 0px;
    /* float: right; */

}

#chinookPoster {
    height: 150px; 
    margin: 30px;
    margin-left: 0px;
    margin-bottom: 60px;
}

#footer{
    margin: 0 auto; 
    height: 40px;
    margin-bottom: 10px;
    text-align: center; 
    color: #A64732;
    font-family: 'Bowlby One SC', cursive;
}
#footerImage{
    height: 30px;
}